

.search-input{
  width:50%;
  border: 1px solid lightblue;
}

.search-result-container {
  display: flex;
  position: absolute;
  z-index: 20;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid cian;
}

.search-result-item{
 background: azure;
 padding: 5px;
 border-radius: 5px;
 margin: 1px;
}
